fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pandas
pydantic
alembic
flask
flask_sqlalchemy
flask_migrate
langchain-text-splitters
sentence-transformers
joblib
chromadb
pyyaml
groq
rank-bm25
rapidfuzz
pytest
deepeval